.chatWindow {
	flex: 1;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
}

.chatWindow .header {
	height: 50px;
	flex-shrink: 0;
	width: 500px;
}

.chatWindow .main {
	flex: 1;
	overflow-y: auto;
}

.chatWindow .inputArea {
	height: 50px;
	flex-shrink: 0;
}
