.body {
	background-image: linear-gradient(
		45deg,
		rgba(220, 119, 171, 0.6) 0%,
		rgba(220, 99, 187, 0.6) 8.333%,
		rgba(210, 88, 204, 0.6) 16.667%,
		rgba(193, 89, 219, 0.6) 25%,
		rgba(172, 101, 228, 0.6) 33.333%,
		rgba(149, 122, 230, 0.6) 41.667%,
		rgba(129, 149, 224, 0.6) 50%,
		rgba(116, 177, 212, 0.6) 58.333%,
		rgba(111, 202, 195, 0.6) 66.667%,
		rgba(115, 219, 178, 0.6) 75%,
		rgba(129, 225, 165, 0.6) 83.333%,
		rgba(148, 220, 156, 0.6) 91.667%,
		rgba(171, 205, 156, 0.6) 100%
	);

	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.chat {
	font-family: "Oswald", sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin: 0;
	position: relative;
	top: 200px;
	left: 50px;
	color: rgb(15, 15, 15);
}

.hello {
	font-family: "Gochi Hand", cursive;
	font-weight: bold;
	background-image: linear-gradient(to right, #6f3eca, #f06e66);
	background-clip: text;
	color: transparent;
	width: fit-content;
	height: fit-content;
	font-size: 30px;
	position: relative;
	top: 200px;
	left: 50px;
}
